html body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgb(96,96,96);
}

/*            canvas {
                image-rendering: optimizeSpeed;             !* Older versions of FF          *!
                image-rendering: -moz-crisp-edges;          !* FF 6.0+                       *!
                image-rendering: -webkit-optimize-contrast; !* Safari                        *!
                image-rendering: -o-crisp-edges;            !* OS X & Windows Opera (12.02+) *!
                image-rendering: pixelated;                 !* Awesome future-browsers       *!
                -ms-interpolation-mode: nearest-neighbor;   !* IE                            *!
            }*/


#leftSection {
    position: absolute;
    left: 0;
    top: 40px;
    height: 100%;
    background-color: rgb(64, 64, 64);
}

#mapCanvasScroller {
    position: absolute;
    left: 300px;
    top: 40px;
    overflow-y: scroll;
    overflow-x: scroll;
}

#tilesetCanvasScroller {
    width: 296px;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid orange;
    margin: 2px;
}

canvas {
    box-sizing: content-box;
}

#mapTree {
    overflow-y: auto;
    border: 1px solid orange;
    margin: 2px;
}

#toolbar {
    min-height: 40px;
    height: 40px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(64, 64, 64);

    padding-left: 3px;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
}

.customButtonIconButton {
    margin-top: 3px;
    margin-left: 2px;
    width: 32px;
    height: 32px;
    background: no-repeat center;
    display: inline-block;
    position: relative;
}

.customButtonIconButton:hover {
    border: 1px solid orange;
    background-color: rgb(48, 48, 48);
}

#newProjectButton {
    background-image: url(../assets/icons/Document-Blank-icon-24.png);
}

#loadProjectButton {
    background-image: url(../assets/icons/Files-icon-24.png);
}

#saveProjectButton {
    background-image: url(../assets/icons/Actions-document-save-icon.png);
}

#penButton {
    background-image: url(../assets/icons/draw-line-2.png);
}

#brushButton {
    background-image: url(../assets/icons/draw-brush.png);
}

#fillButton {
    background-image: url(../assets/icons/draw-fill-2.png);
}

#eraseButton {
    background-image: url(../assets/icons/draw-eraser-2.png);
}

#layer1 {
    background-image: url(../assets/icons/layer_bottom_24.png);
}

#layer2 {
    background-image: url(../assets/icons/layer_middle_24.png);
}

#layer3 {
    background-image: url(../assets/icons/layer_top_24.png);
}

#layer4 {
    background-image: url(../assets/icons/layer_top_24.png);
}

#importManager {
    background-image: url(../assets/icons/import-icon-24.png);
}

.buttonGroupLayer {

}

.marked {
    border: 1px solid orange;
    background-color: rgb(48, 48, 48);
}

.disabled-toolbutton {
    filter: grayscale(100%);
    border: none !important;
    background-color: rgb(64, 64, 64) !important;
}

.spacer {
    width: 25px;
    display: inline-block;
    position: relative;
    margin-top: 3px;
    margin-left: 2px;
}

::-webkit-scrollbar {
    background-color: rgb(64, 64, 64);
}

::-webkit-scrollbar-button { /* 2 */
}

::-webkit-scrollbar-track {
    border: 1px solid orange;
}

::-webkit-scrollbar-track-piece {
}

::-webkit-scrollbar-thumb {
    background-color: orange;
}

::-webkit-scrollbar-corner {
    background-color: rgb(64, 64, 64);
}

::-webkit-resizer {
    background-color: orange;
}

.renderCanvas {
    position: absolute;
    left: 0;
    top: 0;
}

/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
    border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
}
