<html>

    <head>
        <title>Play Audio</title>

        <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="../node_modules/bootstrap-slider/dist/css/bootstrap-slider.css" rel="stylesheet">
        <link href="../node_modules/bootstrap-table/dist/bootstrap-table.css" rel="stylesheet">
        <link href="../css/dark.css" rel="stylesheet">

        <!-- Insert this line above script imports  -->
        <script>if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }</script>

        <!-- Include -->
        <script language="JavaScript" src="../node_modules/jquery/dist/jquery.js"></script>
        <script language="JavaScript" src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <script language="JavaScript" src="../node_modules/bootstrap-slider/dist/bootstrap-slider.js"></script>
        <script language="JavaScript" src="../node_modules/bootstrap-table/dist/bootstrap-table.js"></script>

        <script language="JavaScript" src="../js/view/AudioView.js"></script>

        <!-- Insert this line after script imports -->
        <script>if (window.module) module = window.module;</script>


    </head>

    <body>
        <audio controls id="audioPlayer" class = "hiddenClass">
            <source src="../assets/audio/templeLevel.ogg" type="audio/ogg">
            Your browser does not support the audio element.
        </audio>

        <br/>

        <table data-toggle="table" data-height="180" id="bgm" data-click-to-select="true"
               data-select-item-name="radioName">
            <thead>
            <tr>
                <th data-field="state" data-radio="true"></th>
                <th data-field="name">Folder Name</th>
                <th data-field="name">Folder Name</th>
            </tr>
            </thead>
        </table>

        <input id="ex1" data-slider-id='ex1Slider' type="text"
               data-slider-min="50" data-slider-max="200"
               data-slider-step="10" data-slider-value="100"/>

        <footer id="footerButtons">
            <div class="pull-right">
                <button type="button" class="btn btn btn-default" onclick="closeButtonClicked()">Close</button>
            </div>
        </footer>

    </body>

</html>