<html>

    <head>
        <meta charset="UTF-8">

        <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
        <link href="../css/dark.css" rel="stylesheet">

        <!-- Insert this line above script imports  -->
        <script>if (typeof module === 'object') {
            window.module = module;
            module = undefined;
        }</script>

        <!-- Include -->
        <script language="JavaScript" src="../node_modules/jquery/dist/jquery.js"></script>
        <script language="JavaScript" src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>

        <script language="JavaScript" src="../js/game/Globals.js"></script>
        <script language="JavaScript" src="../js/game/Globals.js"></script>
        <script language="JavaScript" src="../js/game/Tileset.js"></script>
        <script language="JavaScript" src="../js/game/TilesetCell.js"></script>
        <script language="JavaScript" src="../js/game/Layer.js"></script>
        <script language="JavaScript" src="../js/game/TilesetLayer.js"></script>
        <script language="JavaScript" src="../js/game/Map.js"></script>
        <script language="JavaScript" src="../js/component/TilesetCanvas.js"></script>
        <script language="JavaScript" src="../js/game/MapTree.js"></script>
        <script language="JavaScript" src="../js/component/MapCanvas.js"></script>
        <script language="JavaScript" src="../js/game/AssetStructure.js"></script>
        <script language="JavaScript" src="../js/game/Project.js"></script>
        <script language="JavaScript" src="../js/game/ProjectManager.js"></script>
        <script language="JavaScript" src="../js/os/FileSystemHandler.js"></script>
<!--
        <script language="JavaScript" src="../js/view/CreateProjectView.js"></script>-->

        <!-- Insert this line after script imports -->
        <script>if (window.module) module = window.module;</script>

    </head>

    <body>
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs" id="navBarImportManager" style="overflow-x:hidden; overflow-y: scroll;width:200px;height:440px;"></ul>
            <div class="tab-content" id="navBarImportManagerContent">
<!--                <div class="tab-pane" id="b">Secondo sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    Aliquam in felis sit amet augue.</div>
                <div class="tab-pane" id="c">Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae. </div>-->
            </div>

            <script>

                var assetNames = AssetStructure.getAssetNames();
                assetNames.forEach(function(element) {

                    var li = document.createElement("li");
                    li.id = "li" + element;
                    var tabLink = document.createElement("a");
                    tabLink.href = "#" + element;
                    tabLink.className = "tab";
                    tabLink.innerHTML = element;
                    tabLink.setAttribute("data-toggle", "tab");
                    li.appendChild(tabLink);
                    document.getElementById("navBarImportManager").appendChild(li);

                    var tabContent = document.createElement("div");
                    tabContent.id = element;
                    tabContent.className = "tab-pane";
                    tabContent.innerHTML = "Hello World - " + element;

                    document.getElementById("navBarImportManagerContent").appendChild(tabContent);

                });

                document.getElementById("li" + assetNames[0]).className = "active";
                document.getElementById(assetNames[0]).className = "tab-pane active";


            </script>
        </div>

        <footer id="footerButtons">
            <div class="pull-right">
                <button type="button" class="btn btn btn-default" onclick="createButtonClicked()">Create</button>
                <button type="button" class="btn btn btn-default" onclick="cancelButtonClicked()">Cancel</button>
            </div>
        </footer>
    </body>

</html>